---
import type { CollectionEntry } from "astro:content";
import type { Page } from "~/lib/types";
import { getCollection } from "astro:content";
import { Icon } from "astro-icon";
import tags from "~/data/tags";
import Layout from "~/layouts/Layout.astro";
import Tags from "~/components/Tags.astro";
import Note from "~/components/Note.astro";
import Pagination from "~/components/Pagination.astro";

type Props = {
  page: {
    data: CollectionEntry<"posts">[];
  } & Page;
  totalPosts: number;
};

export async function getStaticPaths({ paginate }: any) {
  const posts = await getCollection("posts");
  return tags.map((tag) => {
    const filteredPosts = posts
      .filter((post) => post.data.tag === tag)
      .sort(
        (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
      );
    return paginate(filteredPosts, {
      params: { tag },
      pageSize: 8,
    });
  });
}

const { page } = Astro.props;
const { tag } = Astro.params;
---

<Layout title={`Le Quoc Thinh | Blog [${tag}]`}>
  <div class="space-y-14">
    <div class="space-y-4">
      <h1 class="text-4xl font-bold sm:text-5xl">Blog</h1>
      <p
        class="text-base leading-relaxed prose text-gray-800 dark:text-gray max-w-lg"
      >
        Focusing on topic:
        <!-- <code class="text-base">{tag}</code> -->

        <span
          class="relative text-base font-medium text-black dark:text-white ml-6"
        >
          <Icon
            class="w-3 h-3 absolute -left-4 bottom-2 fill-blue -scale-x-100"
            name="highlight-doodle"
            aria-hidden="true"
          />
          {tag}
          <Icon
            class="w-3 h-3 absolute -right-4 bottom-2 fill-blue"
            name="highlight-doodle"
            aria-hidden="true"
          />
        </span>
      </p>
      <Tags />
    </div>
    <div>
      <div class="space-y-4">
        <h2 class="text-2xl font-bold sm:text-3xl">Publications</h2>
        {
          !page.data.length ? (
            <p class="text-gray-800 dark:text-gray">
              No se han encontrado Publications
            </p>
          ) : (
            <ul
              role="list"
              class="divide-y divide-gray-200 dark:divide-gray-900"
            >
              {page.data.map((item) => (
                <Note note={item} />
              ))}
            </ul>
          )
        }
      </div>
    </div>
    {
      page.total > page.size && (
        <Pagination
          href={`/thoughts/${tag}`}
          currentPage={page.currentPage}
          lastPage={page.lastPage}
          next={page.url.next}
          prev={page.url.prev}
        />
      )
    }
  </div>
</Layout>

<!-- https://docs.astro.build/en/reference/api-reference/#paginate -->
<!-- https://docs.astro.build/en/core-concepts/routing/#nested-pagination -->
