@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/static/fonts/inter-var.woff2) format("woff2");
}

/* Alpinejs */
[x-cloak] {
  display: none !important;
}

/* Tailwind Prose */
.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  @apply font-bold text-black dark:text-white scroll-mt-24;
}
.prose p,
.prose li {
  @apply text-gray-800 dark:text-gray;
}
.prose strong {
  @apply font-medium text-black dark:text-white;
}
.prose a {
  @apply font-normal no-underline text-blue dark:text-blue-400 my-0 hover:underline focus:underline focus:outline-none underline-offset-2 decoration-1;
}
.prose ul {
  @apply list-square;
}
.prose ::marker {
  @apply text-gray dark:text-gray-800;
}
.prose code {
  @apply text-pink-600 dark:text-pink-400;
}
.prose blockquote {
  @apply px-4 rounded border border-l-4 border-gray-300 dark:border-gray-800;
}
.prose blockquote p {
  @apply font-normal not-italic my-1.5 before:content-none after:content-none;
}
.prose img {
  @apply m-0;
}
.prose hr {
  @apply my-8 border-gray border-dashed dark:border-gray-800;
}
.prose th {
  @apply text-xs text-black dark:text-white whitespace-nowrap uppercase font-semibold align-middle px-6 py-4 bg-gray-100 dark:bg-black-600 border-b border-gray-300 dark:border-gray-800;
}
.prose tbody tr {
  @apply border-b border-gray-300 dark:border-gray-800 last:border-b-0 hover:bg-gray-100 dark:hover:bg-black-600;
}
.prose tbody td {
  @apply text-sm text-gray-800 dark:text-gray align-middle px-6 py-2;
}

.custom-scrollbar {
  @apply scrollbar:!w-1.5 scrollbar:!h-1.5 scrollbar:bg-transparent 
 scrollbar-track:!bg-gray-100 scrollbar-track:!rounded dark:scrollbar-track:!bg-black-600
  scrollbar-thumb:!rounded scrollbar-thumb:!bg-gray-300 dark:scrollbar-thumb:!bg-gray-800;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

/* Rehype Pretty Code */
[data-rehype-pretty-code-fragment] code {
  @apply grid min-w-full break-words rounded-none border-0 bg-transparent p-0 text-sm text-black;
  counter-reset: line;
  box-decoration-break: clone;
}

[data-rehype-pretty-code-fragment] .line {
  @apply px-4 my-[1px] py-[1px];
}

[data-rehype-pretty-code-fragment] .line--highlighted {
  @apply bg-pink-400 bg-opacity-20;
}

[data-rehype-pretty-code-fragment] .line-highlighted span {
  @apply relative;
}

div[data-rehype-pretty-code-title] {
  @apply inline-block text-white font-mono text-sm bg-black-700 rounded-t px-5 py-1 border-b border-b-blue;
}

div[data-rehype-pretty-code-title] + pre {
  @apply rounded rounded-tl-none mt-0 px-0 py-3 bg-black-600 focus:outline focus:outline-1 focus:outline-blue !important;
}
/* https://docs.astro.build/en/guides/integrations-guide/tailwind/#configapplybasestyles */
/* Scrollbar: https://github.com/tailwindlabs/tailwindcss/issues/8200 */
