---
import Layout from "~/layouts/Layout.astro";
import ContactForm from "~/components/ContactForm.astro";
---

<Layout title="Le Quoc Thinh | Contacto">
  <div class="space-y-14">
    <h1 class="text-3xl font-bold sm:text-4xl">Contacto</h1>
    <ContactForm />
  </div>
</Layout>
