---
import Layout from "~/layouts/Layout.astro";
import MySkills from "~/components/MySkills.astro";
---

<Layout>
  <div class="space-y-14">
    <div class="space-y-4">
      <h1 class="text-4xl font-bold sm:text-5xl">Le Quoc Thinh</h1>
      <p
        class="text-base leading-relaxed text-gray-800 dark:text-gray max-w-lg"
      >
      Software engineer, love build, analyze and optimize things.
      </p>
    </div>

    <div class="space-y-4">
      <p class="text-base font-semibold text-gray-800 dark:text-gray">
        Most used & loved technologies
      </p>
      <MySkills />
    </div>

    <div
      class="flex flex-col space-y-4 sm:flex-row sm:items-start sm:space-y-0 sm:space-x-4"
    >
      <div>
        <a
          href="/projects"
          class="button flex items-center justify-center w-full px-8 py-2 text-sm font-medium text-white rounded outline-none bg-blue hover:opacity-75 focus:opacity-75"
          aria-label="Proyectos"
        >
          <span>Projects</span>
        </a>
      </div>
      <div>
        <a
          href="/thoughts"
          class="button flex items-center justify-center w-full px-8 py-2 text-sm font-medium text-black bg-gray-100 rounded outline-none dark:text-white hover:bg-gray-200 focus:bg-gray-200 dark:bg-black-600 dark:hover:bg-black-700 dark:focus:bg-black-700"
          aria-label="Blog"
        >
          <span>Blog</span>
        </a>
      </div>
    </div>
  </div>
</Layout>

<script>
  import { animate, stagger, spring } from "motion";

  const motionOne = () => {
    animate(
      ".skill",
      { opacity: [0, 1], x: [-40, 0] },
      {
        delay: stagger(0.25, { start: 0.25 }),
        duration: 0.5,
        easing: spring(),
      }
    );
    animate(
      ".button",
      { transform: ["scale(0)", "scale(1)"] },
      {
        delay: stagger(0.5),
        duration: 0.5,
      }
    );
  };

  motionOne();
</script>
