---
import CustomImage from "./CustomImage.astro";

type Props = {
  index: number;
  title: string;
  imageSrc: string;
  href: string;
};

const { index, title, imageSrc, href } = Astro.props;
const loading = index < 1 ? true : false;
---

<a
  class="group focus:outline outline-offset-4 focus:outline-1 focus:outline-blue"
  href={href}
  target="_blank"
  rel="noopener noreferrer"
>
  <div class="group-hover:opacity-75">
    <CustomImage src={imageSrc} alt={title} title={title} loading={loading} />
  </div>
  <div class="pt-2">
    <p class="text-base text-black dark:text-white">
      {title}
    </p>
  </div>
</a>
