---
import { Icon } from "astro-icon";
import socialLinks from "~/data/socialLinks";

const year = new Date().getFullYear();
---

<footer class="w-full max-w-3xl mx-auto sm:px-6 lg:px-8">
  <div
    class="px-4 py-4 border-t border-gray-300 sm:px-0 dark:border-gray-800 md:flex md:items-center md:justify-between"
  >
    <div class="flex justify-center space-x-4 md:order-2">
      {
        socialLinks.map((item) => (
          <a
            class="focus:outline outline-offset-4 focus:outline-1 focus:outline-blue"
            href={item.href}
            title={item.title}
            target="_blank"
            rel="noopener noreferrer"
          >
            <span class="sr-only">{item.title}</span>
            <Icon
              class="w-5 h-5 text-gray-800 dark:text-gray hover:text-gray-800/80 dark:hover:text-gray/80"
              name={item.name}
              aria-hidden="true"
            />
          </a>
        ))
      }
    </div>
    <div class="mt-3 md:mt-0 md:order-1">
      <p class="text-sm text-center text-gray-800 dark:text-gray">
        &copy; {year} José Aular
      </p>
    </div>
  </div>
</footer>
