---
import type { CustomMeta } from "~/lib/types";

type Props = {
  data: CustomMeta;
};

const { data } = Astro.props;

const meta: CustomMeta = {
  title: "Le Quoc Thinh",
  description: "Software engineer, love build, analyze and optimize things.",
  type: "website",
  siteName: "jaular",
  twitterUser: "@jaular14",
  ...data,
};

const ogImage =
  "https://res.cloudinary.com/jaular/image/upload/v1674672004/Jose_Aular_bl9vv8.png";

meta.image = meta.image ? meta.image : ogImage;

const { title, description, image, type, siteName, date } = meta;

// https://axellarsson.com/blog/astrojs-prevent-dark-mode-flicker/
// https://dev.to/rinas/toggle-dark-and-sunny-mode-using-alpinejs-tailwindcss-and-localstorage-7fo
// https://caffeinecreations.ca/blog/dark-mode-with-alpinejs-and-tailwind/
---

<!-- Global Metadata -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/svg+xml" href="/static/favicons/favicon.svg" />
<link
  rel="shortcut icon"
  type="image/x-icon"
  href="/static/favicons/favicon.ico"
/>
<link rel="icon" type="image/x-icon" href="/static/favicons/favicon.ico" />
<meta name="robots" content="follow, index" />
<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content={type} />
<meta property="og:site_name" content={siteName} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={image} />

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content={meta.twitterUser} />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={image} />

{date && <meta property="article:published_time" content={date} />}

<!-- Links -->
<link
  rel="preload"
  href="/static/fonts/inter-var.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>

<!-- Scripts -->
<script is:inline>
const isDarkMode = JSON.parse(localStorage.getItem("darkMode"));

const theme = isDarkMode === true ? "dark" : "light";
document.querySelector("html").className = theme;
</script>
