---
import Layout from "~/layouts/Layout.astro";
import projects from "~/data/projects";
import Card from "~/components/Card.astro";
---

<Layout title="Le Quoc Thinh | Proyectos">
  <div class="space-y-14">
    <div class="space-y-4">
      <h1 class="text-4xl font-bold sm:text-5xl">Projects that I've experienced</h1>
    </div>

    <div>
      <a
        class="inline-flex items-center justify-center w-full px-8 py-2 text-sm font-medium text-white rounded outline-none sm:w-auto bg-blue hover:opacity-75 focus:opacity-75"
        href="https://github.com/jaular?tab=repositories"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span>View more</span>
      </a>
    </div>
  </div>
</Layout>
