---
import type { CollectionEntry } from "astro:content";
import { formattedDate } from "~/lib/utils";
import Layout from "./Layout.astro";
import CustomImage from "~/components/CustomImage.astro";

type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;

const { Content } = await post.render();
const { title, heroImage, publishDate, author } = post.data;

//  https://docs.astro.build/en/guides/markdown-content/#assigning-custom-components-to-html-elements
//  https://docs.astro.build/en/guides/markdown-content/#custom-components-with-imported-mdx
---

<Layout
  title={`Le Quoc Thinh | ${title}`}
  image={heroImage && heroImage.src}
  date={publishDate.toISOString()}
>
  <article class="space-y-8">
    <div class="space-y-4">
      <h1 class="text-3xl font-bold sm:text-4xl">{title}</h1>
      <div>
        <p class="text-sm text-gray-800 capitalize dark:text-gray">
          {author} / {formattedDate(publishDate)}
        </p>
      </div>
    </div>

    {
      heroImage && (
        <CustomImage
          src={heroImage.src}
          title={heroImage.author}
          alt={title}
          loading
        />
      )
    }

    <div class="leading-relaxed prose max-w-none">
      <Content />
    </div>
  </article>
</Layout>
